<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <% @snippets.each do |snippet| %>
        <h1>
          <%= snippet.title %>
          <%= "(Private)" unless snippet.is_private == false %>
        </h1>
        <p><%= CodeRay.scan(snippet.work, snippet.kind.name).div(:line_numbers => :table).html_safe %></p>
        <% if can? :edit, snippet %>
          <%= link_to 'Edit', edit_snippet_path(snippet) %>
        <% end %>
        <% if can? :destroy, snippet %>
          <%= link_to 'Delete', snippet_path(snippet),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
